<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Roles</title>
<th:block th:include="fragments/head.html :: head"></th:block>
<link rel="stylsheet" href="/css/styles.css" />
</head>
<body>
	<h1 align="center">Listado de roles</h1>
	<br>
	<form action="" method="post">
		<table border="2">
			<table class="table table-striped">
				<tr>
					<th>Id</th>
					<th>Rol</th>
				</tr>
				<tr th:each="role : ${lista}">
					<td th:text="${role.id}"></td>
					<td th:text="${role.rol}"></td>
					<td><a th:href="@{/roles/edit/}+${role.id}">Editar</a></td>
					<td><a th:href="@{/roles/eliminar/}+${role.id}">Eliminar</a></td>
			</table>
			<p>
				<a th:href="@{/roles/new}">Añadir rol</a>
			</p>
			<br>
			<br>
			<br>
			<a th:href="@{/}">Ir a inicio</a>
			</form>
</body>
</html>