<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Nuevo rol</title>
<th:block th:include="fragments/head.html :: head"></th:block>
<link rel="stylsheet" href="/css/styles.css" />
</head>
<body>
	<form th:action="@{/roles/new/submit}" th:object="${role}"
		method="post" class="form-horizontal">
		<fieldset>
			<a th:href="@{/}">Ir a inicio</a><br> <br> <br>
			<!-- Form Name -->
			<legend>
				<h1>Nuevo rol</h1>
			</legend>

			<input id="id" name="id" type="hidden" placeholder=""
				class="form-control input-md" required="" th:field="*{id}">

			<!-- Select Basic -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="selectbasic">Rol</label>
				<div class="col-md-4">
					<select id="selectbasic" name="selectbasic" class="form-control">
						<option value="">Administrador</option>
						<option value="">Invitado</option>
					</select>
				</div>
			</div>

			<!-- Button -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="nuevo"></label>
				<div class="col-md-4">
					<button id="nuevo" name="nuevo" class="btn btn-primary">Aceptar</button>
				</div>
			</div>

		</fieldset>
	</form>


</body>
</html>