<!DOCTYPE html>
<html lang="en">
<head>
  <title>Footer Design</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>Tienda de Cristian</h4>
  	 			<ul>
  	 				<li><a href="#">Nosotros</a></li>
  	 				<li><a href="#">Nuestros Servicios</a></li>
  	 				<li><a href="#">Política de Privacidad</a></li>
  	 				<li><a href="#">Programa de Afiliados</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Ayuda</h4>
  	 			<ul>
  	 				<li><a href="#">FAQ</a></li>
  	 				<li><a href="#">Shipping</a></li>
  	 				<li><a href="#">Devoluciones</a></li>
  	 				<li><a href="#">Estado del Pedido</a></li>
  	 				<li><a href="#">Opciones de Pago</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Tienda Online</h4>
  	 			<ul>
  	 				<li><a href="#">Smartphones</a></li>
  	 				<li><a href="#">Sobremesa</a></li>
  	 				<li><a href="#">Portatiles</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Volver Arriba</h4>
  	 			<ul>
  	 				<li><a href="#">Arriba</a></li>
  	 			</ul>
  	 		</div>
  	 		
  	 	</div>
  	 </div>
  </footer>

</body>
</html>
