<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Tienda Online</title>
<meta charset="UTF-8">
<link rel="stylsheet" href="/css/styles.css" />
</head>
<body>

<h1>Mi tienda online</h1>

	<ul>
		<li><h2><a th:href="@{/usuario/listUsers}">Usuario</a></h2></li>
		<li><h2><a th:href="@{/productos/listProducts}">Producto</a></h2></li>
		<li><h2><a th:href="@{/categorias/listCategorias}">Categorías</a></h2></li>
		<li><h2><a th:href="@{/roles/listRoles}">Roles</a></h2></li>
		<li><h2><a th:href="@{/proveedores/listProviders}">Proveedores</a></h2></li>
	</ul>
</body>
</html>
